@model BloodDonationApp.Models.FinderMV

@{
    ViewBag.Title = "Find Donor";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="col-md-8">
        <div class="contact-form-block">
            <h2 class="contact-title">Find Donor</h2>
            <p>
                <div class="form-group col-md-4">
                    <div class="select-style">
                        @Html.DropDownList("CityID", null, "--Select City--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <div class="select-style">
                        @Html.DropDownList("BloodGroupID", null, "--Select BloodGroup--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BloodGroupID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">

                    <input type="submit" style="float:right;" value="Search" class="btn btn-theme" />


                </div>
            </p>
            <table class="table table-hover">
                <tr>
                    <th>
                        Donor
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.SearchResult)
                {
                    <tr>
                        <td>
                            <div>
                                <strong>@item.FullName (@item.BloodGroup)</strong>
                            </div>
                            @item.UserType
                        </td>
                        <td class="text-right">
                            @Html.ActionLink("Request", "RequestForBlood", new { donorid = item.DonorID, usertypeid = item.UserTypeID, bloodgroupid = item.BloodGroupID }, new { @class = "btn btn-primary" })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
}