@model BloodDonationApp.Models.UserTypeMV

@{
    ViewBag.Title = "Edit User Type";
}

<div class="col-md-6">
    <div class="contact-form-block">
        <h2 class="contact-title">Edit User Type</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UserTypeID)

            <div class="form-group">
                Update User Type Name:
                @Html.EditorFor(model => model.UserType, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">

                <input type="submit" style="float:right;" value="Update" class="btn btn-theme" />
                @Html.ActionLink("Back", "AllUserTypes", null, new { @class = "btn btn-theme-invert" })

            </div>
        }

    </div>
</div>

