@model BloodDonationApp.Models.RegistrationMV
@{
    ViewBag.Title = "Blood Bank Registration";
}


<div class="appointment-form-wrapper theme-custom-box-shadow text-center clearfix wow zoomIn">
    <h3 class="join-heading join-heading-alt">Blood Bank Registration Form</h3>
    @using (Html.BeginForm("BloodBankUser", "Registration", FormMethod.Post, new { @class = "appoinment-form" }))
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserTypeID)
        @Html.HiddenFor(model => model.User.UserID)
        @Html.HiddenFor(model => model.User.UserName)
        @Html.HiddenFor(model => model.User.Password)
        @Html.HiddenFor(model => model.User.EmailAddress)
        @Html.HiddenFor(model => model.User.AccountStatus)
        @Html.HiddenFor(model => model.User.AccountStatusID)
        @Html.HiddenFor(model => model.User.Description)

        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.BloodBank.BloodBankName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter BloodBank Name", @type = "text" } })
            @Html.ValidationMessageFor(model => model.BloodBank.BloodBankName, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.BloodBank.PhoneNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact No" } })
            @Html.ValidationMessageFor(model => model.BloodBank.PhoneNo, "", new { @class = "text-danger" })


        </div>

        <div class="form-group col-md-6">
            <div class="select-style">
                @Html.DropDownList("CityID", null, "--Select City--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CityID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.BloodBank.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address", @type = "text" } })
            @Html.ValidationMessageFor(model => model.BloodBank.Address, "", new { @class = "text-danger" })

        </div>

        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.BloodBank.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email Address", @type = "email" } })
            @Html.ValidationMessageFor(model => model.BloodBank.Email, "", new { @class = "text-danger" })

        </div>
        <div class="form-group col-md-6">
            @Html.EditorFor(model => model.BloodBank.Website, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your website", @type = "url" } })
            @Html.ValidationMessageFor(model => model.BloodBank.Website, "", new { @class = "text-danger" })

        </div>



        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <button id="btn_submit" class="btn btn-theme" type="submit">Submit</button>
        </div>

    }

</div>