@model IEnumerable<BloodDonationApp.Models.RequestTypeMV>

@{
    ViewBag.Title = "AllRequestTypes";
}

<h2>AllRequestTypes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RequestTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RequestTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RequestTypeID })
        </td>
    </tr>
}

</table>
